
<section class="card">

  <div  class="card-header">
    <a href="/post/{{id}}" style="color: #ff8800"><h4>{{title}}</h4></a>
      <p>Created by {{user.username}} on {{format_date createdAt}}</p>
    </div>
  
  {{!-- {{#if comments}}
  {{#each comments as |comment|}}
    <div class="comment-card">
      <p>{{comment.description}}</p>
      <p>Created by {{comment.author}} on {{format_date comment.createdOn}}</p>
    </div>
  {{/each}}
  {{/if}}

  <div class="add-comment">
    <form id="comment-form">
      <h6>Comment:</h6>
      <textarea name="comment" id="comment"></textarea>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Comment</button>
      </div>
    </form>
  </div> --}}
</section>

{{!-- <script src="/js/addComment.js"></script> --}}
